html{
	text-align: center;
	max-width: 960px;
	background: #FFEFD5;
	margin:0;
	padding:0;
	margin-left: auto;
	margin-right: auto;
}
.caption{
	width: 60%;
	float: left;
	height: 100px;
	background: #ADD8E6;
	display: inline-block;
}
.soso{
	width: 40%;
	float: left;
	height: 100px;
	background: #ADD8E6;
	display: inline-block;
}
.hl{
	margin-right: 300px;
	font-family: Impact;
}
.wcss{
	margin-bottom: 10px;
}
.addr{
	margin-top: 60px;
	margin-left:170px; 
}
.url{
	background: #B0C4DE;
	clear: both;
	text-align: left;
	width: 10%;
	float: left;
	height: 300px;
}
.sr{
	margin-left: 5px;
	font-family: Impact;
}
.news{
	width: 90%;
	background: #B0C4DE;
	float: left;
	height: 300px;
	overflow: hidden;
	text-align: left;
}
